<div class="works-module" {{ with .anchor }}id="{{ . }}"{{ end }}>
    <div class="bg-title">
        <h2>{{ .title }}</h2>
    </div>
    <div class="works-grid">
        {{ range where site.RegularPages "Type" "==" "works"}}
            <a class="works-link hover-invert-button-trigger" href="{{ .RelPermalink }}">
                <img class="works-image" src="{{ .Params.image }}" width="650" height="384">
                <h3 class="works-title">{{ .Title }}</h3>
                <span class="works-type">{{ .Param "project-type" }}</span>
                <button class="works-button hover-invert-button">{{ $.button }}</button>
            </a>
        {{ end }}
    </div>
</div>