<div class="works-module" {{ with .anchor }}id="{{ . }}"{{ end }}>
    <div class="bg-title" data-speed="1">
        <h2>{{ .title }}</h2>
    </div>
    <div class="works-grid relative">
        {{ range where site.RegularPages "Type" "==" "works"}}
            <a class="works-link" href="{{ .RelPermalink }}">
                <img class="works-image cld-responsive" loading="lazy" data-src="{{ site.Params.cloudinaryBaseURL }}/w_auto,c_scale,f_auto,q_auto,dpr_auto/{{ .Params.image }}" width="650" height="384">
                <h3 class="works-title">{{ .Title }}</h3>
                <span class="works-type">{{ .Param "project-type" }}</span>
                <div class=" hover-invert-button-trigger">
                    <button class="hover-invert-button">{{ $.button }}</button>
                </div>
            </a>
        {{ end }}
    </div>
</div>