{{ define "intro" }}
  {{ if .IsHome}}
    {{ $data := site.Data.startScreen }}
    <section class="intro" id="intro">
      <div class="intro-container">
        <img class="intro-logo" src="{{ $data.background }}" alt="">
        <img class="intro-image" src="{{ $data.image }}" alt="">
      </div>
    </section>
  {{ end }}
{{end}}

{{ define "main" }}
  {{ $page := .Page }}
  {{ if .IsHome}}
    {{ $page = .Site.GetPage "/pages/home"}}
  {{end}}
  {{with $page }}
    {{ range .Params.modules }}
    <section class="module">
        {{      if eq .type "richtext" }}
            {{ partial "modules/richtext.html" . }}
        {{ else if eq .type "works" }}
            {{ partial "modules/works.html" . }}
        {{ else if eq .type "about" }}
            {{ partial "modules/about.html" . }}
        {{ end }}
    </section>
    {{ end }}
  {{ end }}
{{ end }}