{{ define "intro" }}
  {{ if .IsHome}}
    {{ $data := site.Data.startScreen }}
    <section class="intro" id="intro">
      <div class="intro-container">
        <img class="intro-logo" src="{{ $data.background }}" alt="Large Logo" width="1320" height="930">
        <a href="#start" class="relative">
          {{ $file := (replaceRE `(.*\/v\d*\/)` "" $data.image) }}
          {{ partial "images/full" (dict "image" $file "class" "intro-image" "alt" $data.imageAltText "width" "1144" "height" "722") }}
          <div class=" hover-invert-button-trigger">
            <button class="hover-invert-button">
              <svg width="36" height="12" viewBox="0 0 18 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L9 5L17 1" stroke="#232323"/>
              </svg>
            </button>
          </div>
        </a>
      </div>
    </section>
  {{ end }}
{{end}}

{{ define "main" }}
  {{ $page := .Page }}
  {{ if .IsHome}}
    {{ $page = .Site.GetPage "/pages/home"}}
  {{end}}
  {{with $page }}
    {{ range .Params.modules }}
    <section class="module">
        {{      if eq .type "richtext" }}
            {{ partial "modules/richtext.html" . }}
        {{ else if eq .type "works" }}
            {{ partial "modules/works.html" . }}
        {{ else if eq .type "about" }}
            {{ partial "modules/about.html" . }}
        {{ end }}
    </section>
    {{ end }}
  {{ end }}
{{ end }}