<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.metaDescription }}" />
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta charset="utf-8">
    {{ if or (.Page.IsHome) (eq .Page.RelPermalink "/pages/home/")}}
      <link rel="canonical" href="{{ .Site.BaseURL }}" />
    {{end}}
    {{ block "canonical" .}}{{ end }}
    <title>{{ block "title" . }}
        {{ with .Page.Title }}{{ if ne $.Page.IsHome true }}{{ . }} | {{end}}{{ end }}{{ .Site.Title }}
    {{ end }}</title>
    <link rel="preconnect" href="https://res.cloudinary.com">
    <!-- Generate CSS -->
    {{ $cssOptions := (dict "enableSourceMap" true ) }}
    {{ $normalizeSass := resources.Get "normalize.scss" }}
    {{ $normalizeStyle := $normalizeSass | resources.ToCSS $cssOptions  | resources.Fingerprint }}

    {{ $mainSass := resources.Get "main.scss" }}
    {{ $mainStyle := $mainSass | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $cssOptions | resources.Fingerprint }}

    <link rel="stylesheet" href="{{ $normalizeStyle.RelPermalink }}" integrity="{{ $normalizeStyle.Data.Integrity }}">
    <link rel="stylesheet" href="{{ $mainStyle.RelPermalink }}"  integrity="{{ $mainStyle.Data.Integrity }}">
    
    <!-- Generate JavaScript -->
    {{ $jsOptions := (dict "minify" true "sourceMap" "external" "target" "es2015") }}
    
    {{/*  {{ $mainJs := resources.Get "main-head.js" | js.Build $jsOptions | resources.Minify | resources.Fingerprint}}
    <script src="{{$mainJs.RelPermalink}}" integrity="{{ $mainJs.Data.Integrity }}"></script>  */}}

    {{/*  {{ $mainAsyncJs := resources.Get "main-async.js" | js.Build $jsOptions | resources.Minify | resources.Fingerprint }}
    <script async src="{{$mainAsyncJs.RelPermalink}}" integrity="{{ $mainAsyncJs.Data.Integrity }}"></script>  */}}

    {{/*  {{ $mainDeferJs := resources.Get "main-defer.js" | js.Build $jsOptions | resources.Minify | resources.Fingerprint }}
    <script defer src="{{$mainDeferJs.RelPermalink}}" integrity="{{ $mainDeferJs.Data.Integrity }}"></script>  */}}

  </head>
  <body>
    {{ $mainStartJs := resources.Get "main-start.js" | js.Build $jsOptions | resources.Minify | resources.Fingerprint }}
    <script defer src="{{$mainStartJs.RelPermalink}}" integrity="{{ $mainStartJs.Data.Integrity }}"></script>
    {{ block "intro" . }}
    {{ end }}
    {{ block "header" . }}
        {{ partial "header.html" .}}
    {{ end }}
    <main class="main">
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    {{ block "footer" . }}
        {{ partial "footer.html" .}}
    {{ end }}

    {{ $mainEndJs := resources.Get "main-end.js" | js.Build $jsOptions | resources.Minify | resources.Fingerprint }}
    <script defer src="{{$mainEndJs.RelPermalink}}" integrity="{{ $mainEndJs.Data.Integrity }}"></script>
  </body>
</html>