<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.metaDescription }}" />
    <meta charset="utf-8">
    <title>{{ block "title" . }}
        {{ with .Page.Title }}{{ . }} | {{ end }}{{ .Site.Title }}
    {{ end }}</title>
    <!-- Generate CSS -->
    {{ $options := (dict "enableSourceMap" true ) }}
    {{ $normalizeSass := resources.Get "normalize.scss" }}
    {{ $normalizeStyle := $normalizeSass | resources.ToCSS $options  | resources.Fingerprint }}

    {{ $mainSass := resources.Get "main.scss" }}
    {{ $mainStyle := $mainSass | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Fingerprint }}

    {{ $mainJs := resources.Get "main.js" }}

    <link rel="stylesheet" href="{{ $normalizeStyle.RelPermalink }}" integrity="{{ $normalizeStyle.Data.Integrity }}">
    <link rel="stylesheet" href="{{ $mainStyle.RelPermalink }}" integrity="{{ $mainStyle.Data.Integrity }}">

    <script src="{{$mainJs.RelPermalink}}"></script>
  </head>
  <body>
    {{ block "header" . }}
        {{ partial "header.html" .}}
    {{ end }}
    <main class="main">
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    {{ block "footer" . }}
        {{ partial "footer.html" .}}
    {{ end }}
  </body>
</html>