<img 
    srcset="
    {{ site.Params.cloudinaryBaseURL }}/w_360,f_auto,q_auto,fl_progressive/{{ .image }} 360w,
    {{ site.Params.cloudinaryBaseURL }}/w_500,f_auto,q_auto,fl_progressive/{{ .image }} 500w,
    {{ site.Params.cloudinaryBaseURL }}/w_720,f_auto,q_auto,fl_progressive/{{ .image }} 720w,
    {{ site.Params.cloudinaryBaseURL }}/w_384,f_auto,q_auto,fl_progressive/{{ .image }} 384w,
    {{ site.Params.cloudinaryBaseURL }}/w_660,f_auto,q_auto,fl_progressive/{{ .image }} 660w"
    sizes="(max-width: 360px) 360px,
            (max-width: 500px) 500px,
            (max-width: 720px) 720px,
            (max-width: 768px) 384px,
            (max-width: 1000px) 500px,
            660px"
    src="{{ site.Params.cloudinaryBaseURL }}/w_660,f_auto,q_auto/{{ .image }}"
    class="{{ .class }}"
    loading="{{ .loading }}"
    alt="{{ .alt }}"
    width="{{ .width }}"
    height="{{ .height }}"
/>