@import "./common.scss";
@import "./media.scss";
@import "./fonts.scss";

// COLORS
:root {
  --color-background: #fff;
  --color-text: #232323;
  --color-accent: #817638;
  --color-grey: #515151;
  --font-body: "GeneralSans", 'Open Sans', Helvetica, Arial, sans-serif;
  --font-heading: Impact;
}

.dark-mode {
  --color-background: #232323;
  --color-text: #fff;
  --color-grey: #969696;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

// TYPO

body {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

p {
    margin-bottom: 2rem;
    line-height: 2rem;
}
strong {
    font-weight: 600;
}
em {
    font-family: 'GeneralSans-Italic';
}

// GENERAL SPACING

body {
  width: 100%;
}

main.main {
  box-sizing: border-box;
  width: clamp(220px, 100%, 1425px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section {
    margin: 8.125rem 0;
}

// HEADER
header.header {
  display: flex;
  background-color: var(--background-color);
  width: 100%;
  height: 11.875rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 4.375rem 3.75rem;

  div.logo {
    width: 18.25rem;
    height: 3.25rem;
  }

  nav.navbar ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    li {
      a {
        color: var(--color-text);
      }
      &.darkmode-switch {
        width: 3.125rem;
        height: 3.125rem;
        background-image: url("/ui/moon.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &.dark-mode {
          background-image: url("/ui/sun.png");
        }
      }
    }
  }
}

// FOOTER
footer.footer {
    div.footer-marquee {
        font-weight: 600;
        padding: 1.24rem 0;
        border-top: 1px solid var(--color-text);
        border-bottom: 1px solid var(--color-text);
        overflow-x: hidden;
        white-space: nowrap;
        div.footer-marquee-text {
            {{ $data := site.Data.footer }}
            animation: marquee {{ $data.duration }}s linear infinite;
            animation-play-state: running;
            width: fit-content;
            @keyframes marquee {
                0% {
                    transform: translate3d(0%, 0, 0);
                }
            
                100% {
                    transform: translate3d(-50%, 0, 0);
                }
            }
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    div.footer-email {
        padding: 6.125rem 0;
        text-align: center;
        font-size: 5rem;
        a {
            text-decoration: underline;
            text-decoration-thickness: .25rem;
            text-underline-offset: .5rem;
            color: var(--color-text);
        }
    }
    div.footer-bottom {
        padding: 0 3.75rem 2rem 3.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer-links {
            display: flex;
            gap: 1.5625rem;
            a {
                color: var(--color-text);
            }
        }
    }
}

// SHARED ELEMENTS
.bg-title {
    width: 100%;
    margin-bottom: -4.5rem;
    h2 {
        text-align: center;
        font-size: 17rem;
        line-height: 1;
        color: var(--color-background);
        -webkit-text-stroke: 1px var(--color-text);
        text-transform: uppercase;
    }
}

.sbs-content {
    display: grid;
    gap: 3.25rem;
    grid-template-columns: 1fr 1fr;
}

// RICHTEXT MODULE
.richtext-module {
    padding: 0 14.0625rem;
}

// WORKS MODULE
.works-module {
  .works-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 1.25rem;
    a.works-link {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--color-text);
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 650 / 384;
      }
      h3 {
        font-family: var(--font-body);
        font-weight: 400;
      }
      span {
        color: var(--color-grey);
      }
      button {
        height: 10.75rem;
        width: 10.75rem;
        border-radius: 50%;
        font-weight: 700;
        background-color: white;
        mix-blend-mode: difference;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.3);
        opacity: 0;
        transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &:hover button {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
}

// ABOUT MODULE
.about-module {
    img {
        height: 100%;
        object-fit: cover;
    }
    .md-content {
        margin-top: 9rem;
    }
}