{{ $data := site.Data.header }}

<header class="header">
    <div class="logo">
        <a href="/"><img src="{{ .Site.Params.logo }}" alt="" srcset=""></a>
    </div>
    <nav class="navbar">
        <ul>
            {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}" title="{{ .Title }}">
                        {{- .Name -}}
                    </a>
                </li>
            {{ end }}
            <li class="darkmode-switch" id="darkmode-switch">
            </li>
        </ul>
    </nav>
</header>