{{ define "seo" }}
{{ $page := .Page }}
{{ with $page }}
<meta name="description" content="{{ .Params.summary }}">
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.Params.logo }}" />
{{ end }}
{{ end }}
{{ define "header" }}
<div></div>
{{ end }}
{{ define "intro" }}
{{ $data := site.Data.error404 }}
<section class="intro">
    <div class="intro-container">
        <img class="intro-logo" src="{{ $data.background }}" alt="oh no! 404 - Fran is Lost" width="1320" height="930">
        <a href="/" class="relative">
            {{ $file := replaceRE `\/upload\/(v\d*)\/` `/upload/f_auto/q_auto/` $data.gifv }}
            <video autoplay loop muted playsinline disablepictureinpicture poster="{{ replaceRE `\.[a-zA-Z0-9]*$` `.jpg` $file }}">
                <source src="{{ replaceRE `\.[a-zA-Z0-9]*$` `.webm` $file }}" type="video/webm">
                <source src="{{ replaceRE `\.[a-zA-Z0-9]*$` `.mp4` $file }}" type="video/mp4">
                <source src="{{ replaceRE `\.[a-zA-Z0-9]*$` `.ogv` $file }}" type="video/ogg">
            </video>
            <div class=" hover-invert-button-trigger" aria-label="back to safety">
                <button class="hover-invert-button" aria-label="Scroll to main page content">
                    <svg width="12" height="36" viewBox="0 0 6 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 1L1 9L5 17" stroke="#232323" />
                    </svg>
                </button>
            </div>
        </a>
    </div>
    <div class="bounce-404" id="bounce-404" {{ printf `style=--mask:url(%q)` $data.image404 | safeHTMLAttr }}>
        <img src="{{ $data.image404 }}" alt="" style="opacity: 0;">
    </div>
</section>
{{end}}
{{ define "main" }}
<div></div>
{{ end }}
{{ define "footer" }}
<script>
    const bounce404 = document.getElementById("bounce-404");
    let x = (window.innerWidth/2-bounce404.getBoundingClientRect().width/2),
        y = (window.innerHeight/2-bounce404.getBoundingClientRect().height/2),
        dirX = Math.random() < 0.5 ? -1 : 1,
        dirY = Math.random() < 0.5 ? -1 : 1;
    const speed = 5;

    const pallete = ["#ff8800", "#e124ff", "#6a19ff", "#ff2188", "#21ff53", "#2134ff", "#ff3429"];
    let currentColorIndex = 0;
    bounce404.style.backgroundColor = pallete[currentColorIndex];
    function getNewRandomColor() {
        const currentPallete = [...pallete]
        currentPallete.splice(currentColorIndex, 1)
        const colorChoiceIndex = Math.floor(Math.random() * currentPallete.length);
        currentColorIndex = colorChoiceIndex < currentColorIndex ? colorChoiceIndex : colorChoiceIndex + 1;
        const colorChoice = currentPallete[colorChoiceIndex];
        return colorChoice;
    }

    function animate() {
        const bounce404w = bounce404.getBoundingClientRect().width;
        const bounce404h = bounce404.getBoundingClientRect().height;
        const screenWidth = window.innerWidth;
        const screenHeight = window.innerHeight;
        if (y + bounce404h >= screenHeight || y < 0) {
            dirY *= -1;
            bounce404.style.backgroundColor = getNewRandomColor();
        }
        if (x + bounce404w >= screenWidth || x < 0) {
            dirX *= -1;
            bounce404.style.backgroundColor = getNewRandomColor();
        }
        x += dirX * speed;
        y += dirY * speed;
        bounce404.style.setProperty("--X", x);
        bounce404.style.setProperty("--Y", y);
        window.requestAnimationFrame(animate);
    }

    window.requestAnimationFrame(animate);
</script>
{{ end }}