<!DOCTYPE html>
<html lang="en">

<!-- head link and script -->
{{ partial "head.html" .}}

<body>
    <!-- navigation header -->
    {{ partial "header.html" .}}

    <!-- section list -->
    <div class="main-content">
        {{ range first 6 (where site.RegularPages "Type" "==" "pages")}}

        <a class="new" href="{{ .RelPermalink }}">
                <h4>{{ .Title }}</h4>
        </a>

        {{ end }}
    </div>

    <!-- footer copyright -->
    {{ partial "footer.html" .}}

</body>

</html>